.drawer {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: end;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.sheet {
  z-index: var(--modal-z-index);
  position: fixed;
  left: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 12px 12px 0;

  // background: var(--bg-color);
  touch-action: none;
  padding: 15px;
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: translateY(0);
  }
}

.drawerOld {
  .sheet {
    background: var(--bg-color);
  }
}

.drawerNew {
  .sheet {
    background-color: var(--light-bg-redesigned);
  }
}
