.addCommentForm {
  padding: 25px;
  margin-bottom: 23px;
  border: 1px solid var(--primary-color);
}

.input {
  flex-grow: 1;
}

.inputRedesigned {
  flex-grow: 1;

  svg {
    width: 32px;
    height: 32px;
    color: var(--icon-redesigned);
  }
}
