.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  color: var(--secondary-color);
}

.links,
.actions {
  margin-left: auto;
  color: var(--secondary-color);
}

.link {
  margin-right: 15px;
}

.link:last-child {
  margin-right: 0;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}
