.big {
  .image {
    width: 100%;
    height: 420px;
    margin-bottom: 11px;
    object-fit: cover;
  }

  .textBlock {
    height: 72px;
    overflow: hidden;
  }
}

.small {
  .card {
    width: 240px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
  }

  .image {
    width: 100%;
    min-height: 140px;
    max-height: 140px;
    object-fit: cover;
  }

  .info {
    padding: 8px;
    padding-bottom: 16;
    height: 100%;
  }

  .footer {
    height: 100%;
    justify-content: flex-end;
  }

  .avatar {
    margin-left: 16px;
  }
}
