.wrapper {
  display: flex;
}

.label {
  margin-right: 5px;
}

.select {
  background-color: none;
  outline: none;
  color: var(--secondary-color);
  padding-right: 2px 10px 2px  2px;
  border: 1px solid var(--secondary-color);
}

.option {
  color: var(--secondary-color);
  background-color: var(--inverted-bg-color);
}

.readonly {
  opacity: 0.7;
}
