.blue {
  --bg-color: #24b2bc;
  --inverted-bg-color: #f4fafb;
  --primary-color: #f4fafb;
  --secondary-color: #24b2bc;
  --inverted-primary-color: #24b2bc;
  --inverted-secondary-color: #f4fafb;

  // redesigned
  --dark-bg-redesigned: #cce0e6;
  --bg-redesigned: #85b9c9;
  --light-bg-redesigned: #c5e5f3;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #22a146;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;

  // skeleton
  --skeleton-color: #97c6ca;
  --skeleton-shadow: #94b6b9;

  // code
  --code-bg: #43878b;

  // card
  --card-bg: #5c9699;

  // listbox
  --listbox-bg: #5c9699;
}
