.blue {
  --bg-color: #24b2bc;
  --inverted-bg-color: #f4fafb;
  --primary-color: #f4fafb;
  --secondary-color: #24b2bc;
  --inverted-primary-color: #24b2bc;
  --inverted-secondary-color: #f4fafb;

  // redesigned
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;

  // skeleton
  --skeleton-color: #97c6ca;
  --skeleton-shadow: #94b6b9;

  // code
  --code-bg: #43878b;

  // card
  --card-bg: #5c9699;

  // listbox
  --listbox-bg: #5c9699;
}
