.dark {
  --bg-color: #3c5677;
  --inverted-bg-color: #f4f7fb;
  --primary-color: #f4f7fb;
  --secondary-color: #3c5677;
  --inverted-primary-color: #3c5677;
  --inverted-secondary-color: #f4f7fb;

  // redesigned
  --dark-bg-redesigned: #090f11;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;

  // skeleton
  --skeleton-color: #697f9c;
  --skeleton-shadow: #a6a9ad;

  // code
  --code-bg: #8196b4;

  // card
  --card-bg: #636e7e;

  // listbox
  --listbox-bg: #636e7e;
}
