.dark {
  --bg-color: #3c5677;
  --inverted-bg-color: #f4f7fb;
  --primary-color: #f4f7fb;
  --secondary-color: #3c5677;
  --inverted-primary-color: #3c5677;
  --inverted-secondary-color: #f4f7fb;

    // redesigned
  --dark-bg-redesigned: #090F11;
  --bg-redesigned: #0C1214;
  --light-bg-redesigned: #151C1F;
  --text-redesigned: #DBDBDB;
  --hint-redesigned: #555555;
  --cancel-redesigned: #D95757;
  --save-redesigned: #6CD98B;
  --icon-redesigned: #74A2B2;
  --accent-redesigned: #5ED3F3;

  // skeleton
  --skeleton-color: #697f9c;
  --skeleton-shadow: #a6a9ad;

  // code
  --code-bg: #8196b4;

  // card
  --card-bg: #636e7e;

  // listbox
  --listbox-bg: #636e7e;
}
