.dark {
  --bg-color: #3c5677;
  --inverted-bg-color: #f4f7fb;
  --primary-color: #f4f7fb;
  --secondary-color: #3c5677;
  --inverted-primary-color: #3c5677;
  --inverted-secondary-color: #f4f7fb;

  // skeleton
  --skeleton-color: #697f9c;
  --skeleton-shadow: #a6a9ad;

  // code
  --code-bg: #8196b4;
}
