.modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.content {
  padding: 20px;
  max-width: 60%;
  color: var(--secondary-color);
  border-radius: 20px;
  transform: scale(0.5);
  transition: transform 0.3s;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.modalOld {
  .content {
    background-color: var(--inverted-bg-color);
    color: var(--secondary-color);
  }
}

.modalNew {
  .content {
    background-color: var(--light-bg-redesigned);
    color: var(--text-redesigned);
  }
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.2);
  }
}
