.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  z-index: 100;
}

.item {
  padding: 10px 20px;
  width: 100%;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
