.StarRating {
  .hover {
    fill: var(--primary-color);
  }
}

.StarRatingRedesigned {
  .hover {
    fill: var(--icon-redesigned);
  }
}

.normal {
  fill: none;
}

.selected {
  cursor: auto;
}

.starIcon {
  cursor: pointer;
}
