.textareaWrapper {
  width: 100%;
}

.textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  color: var(--text-redesigned);
  background-color: transparent;
}

.bold {
  font-weight: 700;
}

.size_s {
  font: var(--font-s-redesigned);
}

.size_m {
  font: var(--font-m-redesigned);
}

.size_l {
  font: var(--font-l-redesigned);
}
